@model StockShow.Models.StockNoTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>StockNoTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockNoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockNoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockTypeIndexNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockTypeIndexNavigation.StockTypeIndex)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StockNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
