@model StockShow.Models.StockNoTable

@{
    Layout = "/Views/Shared/myHomeLayout.cshtml";
    ViewBag.Title = "[Stock Number Handle]";
}
<link rel="stylesheet" href="~/lib/tablefilter/style/tablefilter.css" />
<script type="text/javascript" src="~/lib/tablefilter/tablefilter.js"></script>
<script type="text/javascript" src="~/js/EasonTable.js"></script>

<script>
    function AutoUpdateStockType() {
        //alert("Auto Get StockType by select StockTypeIndex !~");
        var dropdownList = document.getElementById('StockTypeIndex');
        var selecetedIndex = dropdownList.selectedIndex;
        var selectedOption = dropdownList.options[selecetedIndex];
        var x = document.getElementById("StockTypeIndex").textContent;
        document.getElementById("StockType").value = selectedOption.text;
    }
    function AutoUpdateStockType_edit() {
        //alert("Auto Get StockType by select StockTypeIndex !~");
        var dropdownList = document.getElementById('StockTypeIndex_edit');
        var selecetedIndex = dropdownList.selectedIndex;
        var selectedOption = dropdownList.options[selecetedIndex];
        var x = document.getElementById("StockTypeIndex").textContent;
        document.getElementById("StockType_edit").value = selectedOption.text;
    }


    var arrayOfArrays = @Html.Raw(Json.Serialize(ViewBag.StockNoList));

</script>


<!--  //// Form input div ////  -->
<div class="row">
    <div class="col-12">
        <form asp-action="StockNoHandle">
            <!-- 上方的Action是執行HttpPost時候所指到的function -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col">
                    <label asp-for="StockNo" class="control-label"></label>
                    <input asp-for="StockNo" class="form-control form-control-lg" />
                    <span asp-validation-for="StockNo" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="StockName" class="control-label"></label>
                    <input asp-for="StockName" class="form-control form-control-lg" />
                    <span asp-validation-for="StockName" class="text-danger"></span>

                </div>
                <div class="col">
                    <label asp-for="StockNoName" class="control-label"></label>
                    <input asp-for="StockNoName" value="GG" class="form-control form-control-lg" readonly="@(true)" />
                    <span asp-validation-for="StockNoName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="StockTypeIndex" class="control-label"></label>
                    <select asp-for="StockTypeIndex" class="form-control" onchange="AutoUpdateStockType()" asp-items="ViewBag.StockTypeIndex"></select>
                </div>
                <div class="col">
                    <label asp-for="StockType" class="control-label"></label>
                    <input asp-for="StockType" class="form-control" readonly="@(true)" />
                    <span asp-validation-for="StockType" class="text-danger"></span>
                </div>

                <div class="d-flex align-items-center p-2 gap-3">
                    <div>
                        <label asp-for="Note1" class="control-label"></label>
                        <input asp-for="Note1" class="form-control  form-control-sm" />
                        <span asp-validation-for="Note1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note2" class="control-label"></label>
                        <input asp-for="Note2" class="form-control form-control-sm" />
                        <span asp-validation-for="Note2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note3" class="control-label"></label>
                        <input asp-for="Note3" class="form-control form-control-sm" />
                        <span asp-validation-for="Note3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note4" class="control-label"></label>
                        <input asp-for="Note4" class="form-control form-control-sm" />
                        <span asp-validation-for="Note4" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex align-items-center p-2 gap-3">
                    <div class="form-group">
                        <label asp-for="Note5" class="control-label"></label>
                        <input asp-for="Note5" class="form-control form-control-sm" />
                        <span asp-validation-for="Note5" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note6" class="control-label"></label>
                        <input asp-for="Note6" class="form-control form-control-sm" />
                        <span asp-validation-for="Note6" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note7" class="control-label"></label>
                        <input asp-for="Note7" class="form-control form-control-sm" />
                        <span asp-validation-for="Note7" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table id="StockNo_tableID">
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- ////////////// MODAL START ////////////// ////////////// MODAL START ////////////// ////////////// MODAL START ////////////// ////////////// MODAL START ////////////// -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stock Number Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                

                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <label for="StockNo_edit" class="control-label">StockNo</label>
                                <input id="StockNo_edit" class="form-control form-control-lg" />
                            </div>
                            <div class="col">
                                <label for="StockName_edit" class="control-label">StockName</label>
                                <input id="StockName_edit" class="form-control form-control-lg" />

                            </div>
                            <div class="col">
                                <label for="StockNoName_edit" class="control-label">StockNoName</label>
                                <input id="StockNoName_edit" class="form-control form-control-lg" readonly="@(true)" />
                            </div>
                            <div class="col">
                                <label for="StockTypeIndex_edit" class="control-label">StockTypeIndex</label>
                                <select id="StockTypeIndex_edit" class="form-control" onchange="AutoUpdateStockType()" asp-items="ViewBag.StockTypeIndex"></select>
                            </div>
                            <div class="col">
                                <label for="StockType_edit" class="control-label">StockType</label>
                                <input id="StockType_edit" class="form-control" readonly="@(true)" />
                            </div>

                            <div class="d-flex align-items-center p-2 gap-3">
                                <div>
                                    <label for="Note1_edit" class="control-label">Note1</label>
                                    <input id="Note1_edit" class="form-control  form-control-sm" />
                                </div>
                                <div class="form-group">
                                    <label for="Note2_edit" class="control-label">Note2</label>
                                    <input id="Note2_edit" class="form-control form-control-sm" />
                                </div>
                                <div class="form-group">
                                    <label for="Note3_edit" class="control-label">Note3</label>
                                    <input id="Note3_edit" class="form-control form-control-sm" />
                                </div>
                                <div class="form-group">
                                    <label for="Note4_edit" class="control-label">Note4</label>
                                    <input id="Note4_edit" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-2 gap-3">
                                <div class="form-group">
                                    <label for="Note5_edit" class="control-label">Note5</label>
                                    <input id="Note5_edit" class="form-control form-control-sm" />
                                </div>
                                <div class="form-group">
                                    <label for="Note6_edit" class="control-label">Note6</label>
                                    <input id="Note6_edit" class="form-control form-control-sm" />
                                </div>
                                <div class="form-group">
                                    <label for="Note7_edit" class="control-label">Note7</label>
                                    <input id="Note7_edit" class="form-control form-control-sm" />
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-primary" onclick="EditFetch()" />
                        </div>

                    </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////// MODAL END ////////////// ////////////// MODAL END ////////////// ////////////// MODAL END ////////////// ////////////// MODAL END ////////////// -->


    <script type="text/javascript">

        async function EditFetch(){

            const postObj = {};
            postObj.StockNo = document.getElementById('StockNo_edit').value;
            postObj.StockName = document.getElementById('StockName_edit').value;
            postObj.StockNoName = document.getElementById('StockNoName_edit').value;
            postObj.StockTypeIndex = document.getElementById('StockTypeIndex_edit').value;
            postObj.Note1 = document.getElementById('Note1_edit').value;
            postObj.Note2 = document.getElementById('Note2_edit').value;
            postObj.Note3 = document.getElementById('Note3_edit').value;
            postObj.Note4 = document.getElementById('Note4_edit').value;
            postObj.Note5 = document.getElementById('Note5_edit').value;
            postObj.Note6 = document.getElementById('Note6_edit').value;
            postObj.Note7 = document.getElementById('Note7_edit').value;
            console.log(postObj);
            const requestOptions = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(postObj) // Object to JSON
            };

            var stkdata;
            const rawResponse = await fetch('Handle_Edit', requestOptions)
                .then(response => response.json())
                .then(data => {
                    stkdata = JSON.parse(data);
                })
                .catch(error => {
                    return {
                        error: error
                    };
                });


        }


        //
        // BuildTableWithFirstButton(arrayOfArrays, "StockNo_tableID");


        let estbl = new EasonTable();

        estbl.BuildTableWithTwoButton(arrayOfArrays, "StockNo_tableID");


    </script>
